body { position: relative; overflow-y: scroll;}

/*home title styles*/
.home {
    font-size: 4vh;
    font-weight: bolder;
    -webkit-user-select: none;
    user-select: none;
}
.home:hover {
    cursor: pointer;
}

/*navbar resizing*/
.nav-link {font-weight: bold; font-size: 2vh; padding: 1vh 1vh}
.navbar-toggler {padding:1.5vh; border-radius: 15%; font-size: 2.5vh}
.navbar {padding: 2vh 1vh;}

/*section styles*/
.main {position: relative; top:10vh;}
.section {margin: 20px; max-width: 97vw}
.section > .holder {top: -130px; height: 1px; padding: 0; margin: 0; position: relative}

.modal.visible { 
    display: flex;
    position: fixed;
    margin: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-color: #000000dd;
}

.modal .warning { 
    background-color: white;
    border: 5px double red;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bolder;
    width: fit-content;
    height: fit-content;
}
